<h1 class="hotel-name">{{vm.hotel.name }}<span class="rating-stars"><hotel-rating
				stars="vm.stars"></hotel-rating></span></h1>
<div class="contain-box-hotel">

	<span class="address"><small>{{ vm.hotel.location.address }}</small></span>
	<p>{{ vm.hotel.description }}</p>
	<p><strong>This hotel provides the following services:</strong></p>
	<ul>
		<li ng-repeat="service in vm.hotel.services">{{ service }}</li>
	</ul>
	<h2>Reviews</h2>
	<ul>
		<li ng-repeat="review in vm.hotel.reviews"><strong>{{ review.name }} says:</strong> {{ review.review }}</li>
	</ul>

	<form ng-if="vm.isLoggedIn()" name="vm.reviewForm" ng-submit="vm.addReview()">
		Your name: <span>{{ vm.username }}</span>

		Your rating: <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
		<div ng-show="vm.reviewForm.rating.$dirty && vm.reviewForm.rating.$invalid && vm.isSubmitted">
			<p>Rating must be between 1-5.</p>
		</div>
		<br><br>

		Your review: <textarea name="review" required ng-model="vm.review"></textarea>
		<div ng-show="vm.reviewForm.review.$dirty && vm.isSubmitted">
			<p>Add a review.</p>
		</div>
		<br>

		<button type="submit" class="btn btn-success">Add review</button>
	</form>
</div>