<h1>Register</h1>
<div ng-if="vm.message" class="alert alert-success" role="alert">
	<p class="register_warn">{{ vm.message }}<p>
</div>

<div ng-if="vm.error" class="alert alert-danger" role="alert">
	<p class="register_warn">{{ vm.error }}<p>
</div>

<form class="register_form" ng-hide="vm.message" name="register" ng-submit="vm.register()">
	<div class="form-group">
		<label for="username">Username:</label>
		<input type="username" class="form-control" id="username" placeholder="Username" ng-model="vm.username"
					 autocapitalize="none">
	</div>

	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password"
					 autocapitalize="none">
	</div>

	<div class="form-group">
		<label for="passwordRepeat">Repeat Password:</label>
		<input type="password" class="form-control" id="passwordRepeat" placeholder="Password" ng-model="vm.passwordRepeat"
					 autocapitalize="none">
	</div>
	<button type="submit" class="btn btn-success">Register</button>
</form>
<footer class="regi-footer" ng-hide="vm.message">
	<div class="copyright-box">
		<ul>
			<li><a href="https://github.com/ChangLiuuu" target="_blank" class="icon-github"><i class="ion-social-github"></i></a>
			</li>
			<li><a href="https://www.linkedin.com/in/changliu6/" target="_blank" class="icon-linkedin"><i class="ion-social-linkedin"></i></a></li>
		</ul>
		<p>No Copyright&copy; designed by 刘畅. 一名dota爱好者.</p>
	</div>
</footer>
